:root {
  --scale: 1.333;
  --font-size-0: calc(var(--font-size-1) / var(--scale));
  --font-size-1: calc(var(--font-size-2) / var(--scale));
  --font-size-2: 18px;
  --font-size-3: calc(var(--font-size-2) * var(--scale));
  --font-size-4: calc(var(--font-size-3) * var(--scale));
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-2);
  line-height: 1.6;
}
* {
  box-sizing: border-box;
}
a {
  color: #0369a1;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 {
  margin: 0;
  font-weight: 700;
  font-size: var(--font-size-4);
}
