.background {
  display: none;
}
.main {
  margin: 32px auto;
  max-width: 720px;
  padding-left: 16px;
  padding-right: 16px;
}
.myPictureContainer {
  margin-top: 16px;
  width: 200px;
  height: 200px;
  padding: 4px;
  border-radius: 50%;
  border: 1px solid #d6d3d1;
}
.myPicture {
  border-radius: 50%;
}
@media (min-width: 720px) {
  .main {
    margin: 64px auto;
  }
  .introContainer {
    position: relative;
    padding-right: 240px;
  }
  .myPictureContainer {
    position: absolute;
    top: 0;
    right: 0;
  }
}
@media (min-width: 1024px) {
  .background {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
  }
}
